.chatWindow {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(rgba(229, 221, 213, 0.9), rgba(229, 221, 213, 0.9)), url('https://cdn.discordapp.com/attachments/690204704407552010/884796305732431942/bg-chat-tile-light_04fcacde539c58cca6745483d4858c52.png');
    background-color: #E5DDD5;
    background-size: contain;
    background-position: center;
}

.chatWindow--header {
    height: 60px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
}

.chatWindow--headerinfo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatWindow--avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 15px;
}

.chatWindow--name {
    font-size: 17px;
    color: #000;
}

.chatWindow--headerbuttons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.chatWindow--btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all ease 0.3s;
    color: rgb(145, 145, 145);
}

.chatWindow--btn.greenHover:hover {
    color: #44d986 !important
}

.chatWindow--btn.redHover:hover {
    color: #e76966 !important;
}

.chatWindow--body {
    flex: 1;
    overflow-y: auto;
}

.chatWindow--footer {
    height: 62px;
    display: flex;
    align-items: center;
    background-color: #ededed;
}

.chatWindow--pre {
    display: flex;
    margin: 0px 15px;
}

.chatWindow--inputarea {
    flex: 1;
}

.chatWindow--input {
    width: 100%;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #FFFFFF;
    border-radius: 20px;
    font-size: 15px;
    color: #4A4A4A;
    padding-left: 15px;
}

.chatWindow--pos {
    display: flex;
    align-items: center;
    margin: 0px 15px;
}

.chatWindow--emojiarea {
    height: 300px;
    overflow-y: hidden;
    transition: all ease 0.3s;
    background-color: #ededed;
}

.chatWindow--emojiarea>.emoji-picker-react {
    width: 100%;
    background: none;
}

.chatWindow--emojiarea>.emoji-picker-react .emoji-group::before {
    background: none;
}