.chatIntro {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 6px solid #4ADF83;
}

.chatIntro img {
    width: 356px;
    height: auto;
    display: block;
}

.chatIntro h1 {
    font-size: 36px;
    color: #525252;
    font-weight: normal;
    margin: 0px;
    margin-top: 38px;
    text-align: center;
}

.chatIntro h2 {
    font-size: 14px;
    color: #777;
    margin: 0px;
    font-weight: normal;
    margin-top: 24px;
    line-height: 20px;
    text-align: center;
}